body {
    background-color: #7bbc76;
}

.main {
    background-color: white;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0 10% 2.5% 10%;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

#submit {
    display: block;
    margin: auto;
}