body {
    background-color: #7bbc76;
}

.main {
    background-color: white;
    border-radius: 5px;
<<<<<<< HEAD
    margin-top: 2.5%;
=======
    margin-top: 5%;
>>>>>>> master
    margin-bottom: 5%;
    padding: 0 10% 2.5% 10%;
}

#title {
    
    text-align: center;
    padding-top: 25px;
}

#description {
    text-align: center;
    padding: 1.75% 0;
}

#submit {
    display: block;
    margin: auto;
<<<<<<< HEAD
}

#number {
    width: 50%;
=======
>>>>>>> master
}