body {
  background-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 3em;
  font-family: 'Istok Web', sans-serif;
}

h1, h3 {
  text-align: center;
}

main {
  margin-left: 10%;
	margin-right: 10%;
	height:400px;
}

#img-div {
  margin: auto;
  width: 23%;
  padding: 10px;
}

#image {
  display: block;
  max-width: 300px;
  width: 100%;
}

figcaption {
  text-align: center;
} 

#tribute-list {
  text-align: center;
  margin-bottom: 10px;
}

#tribute-list > h4 {
  text-decoration: underline;
}

footer {
  font-size: 1.25em;
  text-align: center;
}

