body {
	padding-top: 75px;
}

div.jumbotron {
	text-align: center;
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/93/6e/64/936e6494acbc6ed4ca205cd231a4b4ad.jpg");
	margin-bottom: 25px;
	color: white;
	font-family: Dosis;
	font-weight: 700;
	
	/*text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);*/
}

#About {
	background-color: gray;
	border-radius: 6px;
	margin-bottom: 5px;
	
}

.img-circle {
	display: block;
	margin: auto;
	height: 200px;
}

#About h1 {
	text-align: center;
	margin-top: 25px;
	font-family: Dosis;
	font-weight: 700;
}

#About p {
	margin: 25px 25px;
	text-align: center;
}

#Projects h2 {
	text-align: center;
	font-family: Dosis;
	font-weight: 700;
}

#Contact h2 {
	text-align: center;
	font-family: Dosis;
	font-weight: 700;
}

#Contact {
	margin-bottom: 25px;
	
}

p {
	text-align: center;
}
 #contact a {
	 padding: 10px 10px ;
 }